/* Mobile & Tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet {
        display: none;
    }
    
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .header{
        display: block;
        margin-top: 10%;
    }

    .header-left{
        display: block;

    }

    .header-left-picture{
        margin: -14% 0px 0px 23px;
        display: inline-block;
    }

    .header-left-img{
        height: 150px;
        width: 150px;
        margin-bottom: 20px;
    }

    .header-left-user{
        display: block;
        margin-bottom: 14px;
    }

    .header-left-user--nickname {
        display: block;
    }
    
    .header-left-user--social{
        margin: 30px 0 20px 0;
    }

    .header-left::after{
        display: none;
    }

    .myself-item{
        margin: 0 8px 0;
    }

    .navbar{
        width: 100%;
        flex-direction: row;
    }

    .navbar-item{
        flex-direction: row;
        margin-bottom: 30px;
        padding: 30px;
    }

    .navbar-list{
        margin: 0 5px;
    }
    
    .myself-heading1::before{
        width: 28%;
    }
    
    .myself-heading2::before{
        width: 55%;
    }

    .myself-heading3::before{
        width: 55%;
    }

    .education-heading1:after{
        width: 28%;
    }

    .education-heading2:after{
        width: 35%;
    }
    
    .education-heading3:after{
        width: 38%;
    }

    .target-heading:before{
        width: 26%;
    }

    .target-item--heading:before{
        width: 19%;
    }

    .habit_heading:before{
        width: 26%;
    }

    .habit_item-heading:before{
        width: 21%;
    }
}


/* Mobile */
@media (max-width: 415px) {

    .header{
        display: block;
        margin-top: 15%;
    }

    .header-left{
        display: block;
        padding-right: 0;
    }

    .header-left::after{
        display: none;
    }

    .header-right{
        display: block;
        margin-top: 30px;
    }

    .header-left-user--nickname{
        justify-content: center;
    }

    .header-left-picture{
        max-width: 100%;
    }

    .header-left-user--name{
        margin-top: 30px;
    }

    .header-left-user{
        margin-left: 0;
    }

    .navbar{
        width: 100%;
        flex-direction: row;
        border-bottom: 0;
        border-radius: 0;
        box-shadow: 0 20px 40px rgb(103 118 128 / 20%);
        padding: 2px 0;
        position: fixed!important;
        bottom: 0;
        left: 0;
        width: 100%!important;
        z-index: 10;
        margin-top: 0!important;
        top: auto!important;
    }

    .navbar-item{
        flex-direction: row;
        /* margin-bottom: 30px; */
        padding: 5px;
    }

    .navbar-list{
        height: 4.5rem;
        width: 21%;
        margin: 0 5px 0;
    }

    .navbar-list--icon{
        font-size: 10px;
    }

    lord-icon {
        width: 40px!important;
        height: 40px!important;
    }

    .myself-zoom-img{
        height: 120px;
    }

    .myself-heading1{
        font-size: 25px;
    }

    .myself-heading1::before{
        width: 54%;
    }

    .myself-heading2{
        font-size: 20px;
    }

    .myself-heading2::before{
        width: 90%;
    }

    .myself-heading3{
        font-size: 20px;
    }

    .myself-heading3::before{
        width: 85%;
    }

    .educations{
        margin-top: 30px;
    }

    .education-header{
        font-size: 25px;
    }

    .education-heading1:after{
        width: 56%;
    }

    .education-heading2:after{
        width:70%;
    }

    .education-heading3:after{
        width: 78%;
    }

    .target-header{
        font-size: 25px;
    }

    .target-heading:before{
        width: 52%;
    }

    .target-item--heading:before{
        width: 38%;
    }

    .habit_header{
        font-size: 25px;
    }

    .habit_heading:before{
        width: 50%;
    }

    .habit_content{
        display: block;
    }

    .habit_item-heading:before{
        width: 43%;
    }

    .habit_wrapper-icon{
        justify-content: center;
    }

    .habit_content-music{
        text-align: center;
    }

    .habit_content-text{
        margin: 0;
    }

    .habit_content-box{
        display: block;
    }

    .habit_content-bg{
        justify-content: center;
    }
}
